<!DOCTYPE html>
<html lang="en">
<head>
	<title>Polygon Scraper</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/js/main.js"></script>
</head>
<body>
	<div class="container">
		<nav>
			<a class="home-link" href="/">Polygon Scraper</a>
			<ul class="nav-links">
				<li class="nav-item">
					<button id="scrape-button">Check For New Articles</button>
				</li>
			</ul>
		</nav>
		<main class="main-content">
			{{{ body }}}
		</main>
	</div>
</body>
</html>